.MessagesPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Messages, .Message {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Message form, .Message label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Message textarea {
    width: 100%;
}